<div class="w-full bg-black">
    <nav class="mx-auto px-5 py-3" aria-label="Breadcrumb">
        <ol class="flex items-center space-x-2 text-xs sm:text-sm">
            <li>
                <a class="text-gray-300 cursor-pointer hover:text-white transition">
                    Dashboard
                </a>
            </li>

            <li class="text-gray-500">/</li>

            <li>
                <a class="text-gray-300 cursor-pointer hover:text-white transition">
                    Market Management
                </a>
            </li>

            <li class="text-gray-500">/</li>

            <li aria-current="page">
                <span class="text-white font-medium  cursor-pointer">
                    Events
                </span>
            </li>
        </ol>
    </nav>
</div>