<app-header-nav [items]="[
        { label: 'Dashboard', url: '/dashboard' },
        { label: 'Cricket', url: '/dashboard' },
        { label: 'Events', url:'/events' },
        { label: 'Add Event' }
      ]"></app-header-nav>

<div class="team-container lg:p-6 p-2 !mt-11">

    <div class="events-card">
        <div class="events-header">
            Events
        </div>

        <form [formGroup]="teamForm" class="events-table">

            <div class="events-row events-row-head max-lg:hidden!">
                <div class="events-col">Event Id</div>
                <div class="events-col">Match Title</div>
                <div class="events-col">Type</div>
            </div>


            <div class="events-row">
                <div class="events-col">
                    <input type="text" formControlName="eventId" placeholder="Event Id" class="events-input"
                        name="eventId" id="eventId" />
                </div>
                <div class="events-col">
                    <input type="text" formControlName="matchId" placeholder="Match title" class="events-input"
                        name="matchId" id="matchId" />
                </div>

                <div class="events-col">
                    <select formControlName="type" class="events-input" id="matchType" name="matchType">
                        <option value="" disabled>Select type</option>
                        <option value="T20">T20</option>
                        <option value="ODI">ODI</option>
                        <option value="TEST">TEST</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="team-form mt-2">
        <div class="teams-wrapper">
            <!-- Team A Card -->
            <div class="team-card team-a">
                <div class="team-header">
                    <h2 class="team-title leading-[30px]">Team A</h2>

                </div>

                <div class="team-inputs flex flex-wrap">
                    <div class="md:flex md:flex-row flex-col  items-center  gap-2.5">
                        <div class="input-group flex-auto">
                            <label for="teamAName">Team Name</label>
                            <div class="custom-dropdown team-a-wrapper">
                                <div class="relative">
                                    <input type="text" id="teamAName" autocomplete="off" formControlName="teamAName"
                                        name="teamAName" placeholder="Select or type team name"
                                        class="form-input  w-full " (input)="searchTeamA(teamA.value)"
                                        (focus)="showTeamADropdown = true" #teamA>

                                    <i
                                        class="fa-solid fa-angle-down absolute text-[12px] right-3 top-[50%] translate-y-[-50%] text-[#2BB8EF]"></i>
                                </div>


                                <div class="dropdown-menu"
                                    *ngIf="showTeamADropdown && filterAvailableATeams.length > 0">
                                    <div class="dropdown-item" *ngFor="let team of filterAvailableATeams"
                                        (mousedown)="selectTeamA(team)">
                                        <span>{{team.name}}</span>
                                        <span class="team-code">{{team.code}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group flex-auto">
                            <label for="teamAShortCode">Team Code</label>
                            <input type="text" id="teamAShortCode" autocomplete="off" formControlName="teamAShortCode"
                                placeholder="e.g IND" class="form-input  w-full">
                        </div>
                        <div class="input-group ">
                            <label for="teamAFlag" class="text-nowrap">Flag</label>
                            <div class="form-input relative w-[66px] h-[50px] border-none! flag">

                                <div class="flag-preview absolute max-h-15!">

                                    <ng-container *ngIf="teamAFlagPreview; else uploadIcon">
                                        <img [src]="teamAFlagPreview" alt="Team A Flag" class="flag-image">
                                    </ng-container>

                                    <ng-template #uploadIcon>
                                        <div class="flex justify-center items-center h-full">
                                            <i class="fa-solid fa-cloud-arrow-up text-[#2BB8EF] text-xl"></i>
                                        </div>
                                    </ng-template>

                                </div>

                                <input type="file" id="teamAFlag" (change)="onTeamAFlagChange($event)" accept="image/*"
                                    class="absolute inset-0 w-full h-full opacity-0 cursor-pointer">
                            </div>


                        </div>
                    </div>
                </div>


                <div class="players-section">
                    <div class="players-header">
                        <h3 class="leading-[24px]">Players ({{ getTeamAPlayers().length }}/11)</h3>
                        <div class="player-controls">
                            <button type="button" (click)="addTeamAPlayer()" [disabled]="getTeamAPlayers().length >= 11"
                                class="btn-control plus-btn">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div formArrayName="teamAPlayers" class="players-list">
                        <div *ngFor="let player of getTeamAPlayers().controls; let i = index" [formGroupName]="i"
                            class="player-row">
                            <div class="player-inputs items-center">
                                  <div class="player-scroll mr-2 md:mr-0 w-full flex flex-wrap md:flex-nowrap items-center gap-2 overflow-visible md:overflow-x-auto">

                                <div class="flex flex-row flex-nowrap gap-2">
                                    <div
                                        class="flex border border-[#DAF1FC] rounded-md w-10 md:w-12.5 justify-center items-center">
                                        {{i + 1}}</div>
                                    <input type="text" formControlName="name" placeholder="Player name" name="playerA"
                                        id="playerA" class="player-name-input">
                                </div>

                                <select formControlName="type" class="player-type-select appearance-none"
                                    id="playerTypeA" name="playerTypeA">
                                    <option value="" disabled selected>Select type</option>
                                    <option value="BATSMAN">BATSMAN</option>
                                    <option value="BOWLER">BOWLER</option>
                                    <option value="ALL_ROUNDER">ALL ROUNDER</option>
                                    <option value="KEEPER">KEEPER</option>
                                </select>
                                  </div>

                                <!-- Add minus button for each row -->
                                <button type="button" (click)="removeTeamAPlayerAt(i)"
                                    [disabled]="getTeamAPlayers().length <= 1" class=" minus-btn ml-2 cursor-pointer"
                                    [ngClass]="{'cursor-not-allowed!':getTeamAPlayers().length <= 1}">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center items-center h-full font-bold text-2xl">VS</div>

            <!-- Team B Card -->
            <div class="team-card team-b">
                <div class="team-header">
                    <h2 class="team-title leading-[30px]">Team B</h2>

                </div>

                <div class="team-inputs flex flex-wrap">
                    <div class="md:flex md:flex-row flex-col  items-center gap-2.5">
                        <div class="input-group flex-auto">
                            <label for="teamBName">Team Name</label>
                            <div class="custom-dropdown team-b-wrapper">
                                <div class="relative">
                                    <input type="text" autocomplete="off" id="teamBName" formControlName="teamBName"
                                        placeholder="Select or type team name" class="form-input w-full"
                                        (input)="searchTeamB(teamB.value)" (focus)="showTeamBDropdown = true" #teamB>
                                    <i
                                        class="fa-solid fa-angle-down absolute text-[12px] right-3 top-[50%] translate-y-[-50%] text-[#2BB8EF]"></i>
                                </div>


                                <div class="dropdown-menu" *ngIf="showTeamBDropdown">
                                    <div class="dropdown-item" *ngFor="let team of filterAvailableBTeams"
                                        (mousedown)="selectTeamB(team)">
                                        <span>{{team.name}}</span>
                                        <span class="team-code">{{team.code}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group flex-auto">
                            <label for="teamBShortCode">Team Code</label>
                            <input type="text" autocomplete="off" id="teamBShortCode" formControlName="teamBShortCode"
                                placeholder="e.g AUS" class="form-input   w-full">
                        </div>

                        <div class="input-group ">
                            <label for="teamBFlag" class="text-nowrap">Flag</label>
                            <div
                                class="form-input relative w-[66px] h-[50px] border-none! flex items-center justify-center">

                                <div class="flag-preview absolute inset-0 flex items-center justify-center">

                                    <ng-container *ngIf="teamBFlagPreview; else uploadIconB">
                                        <img [src]="teamBFlagPreview" alt="Team B Flag" class="flag-image">
                                    </ng-container>

                                    <ng-template #uploadIconB>
                                        <div class="flex justify-center items-center h-full">
                                            <i class="fa-solid fa-cloud-arrow-up text-[#2BB8EF] text-xl"></i>
                                        </div>
                                    </ng-template>

                                </div>

                                <input type="file" id="teamBFlag" (change)="onTeamBFlagChange($event)" accept="image/*"
                                    class="absolute inset-0 w-full h-full opacity-0 cursor-pointer">
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Team B Players -->
                <div class="players-section">
                    <div class="players-header">
                        <h3 class="leading-[24px]">Players ({{ getTeamBPlayers().length }}/11)</h3>
                        <div class="player-controls">
                            <button type="button" (click)="addTeamBPlayer()" [disabled]="getTeamBPlayers().length >= 11"
                                class="btn-control plus-btn">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div formArrayName="teamBPlayers" class="players-list">
                        <div *ngFor="let player of getTeamBPlayers().controls; let i = index" [formGroupName]="i"
                            class="player-row">
                            <div class="player-inputs items-center">
                                  <div class="player-scroll mr-2 md:mr-0 w-full flex flex-wrap md:flex-nowrap items-center gap-2 overflow-visible md:overflow-x-auto">

                                <div class="flex flex-nowrap gap-2">
                                    <div
                                        class="flex border border-[#DAF1FC] rounded-md w-10 md:w-12.5 justify-center items-center">
                                        {{i + 1}}</div>


                                    <input type="text" formControlName="name" placeholder="Player name" name="playerB"
                                        id="playerB" class="player-name-input">
                                </div>
                                <select formControlName="type" class="player-type-select appearance-none"
                                    name="playerTypeB" id="playerTypeB">
                                    <option value="" disabled selected>Select type</option>
                                    <option value="BATSMAN">BATSMAN</option>
                                    <option value="BOWLER">BOWLER</option>
                                    <option value="ALL_ROUNDER">ALL ROUNDER</option>
                                    <option value="KEEPER">KEEPER</option>
                                </select>
                                  </div>

                                <!-- Add minus button for each row -->
                                <button type="button" (click)="removeTeamBPlayerAt(i)"
                                    [disabled]="getTeamBPlayers().length <= 1" class="minus-btn ml-2 cursor-pointer"
                                    [ngClass]="{'cursor-not-allowed!':getTeamBPlayers().length <= 1}">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form Actions -->
        <div class="form-actions">
            <button type="submit" [disabled]="!teamForm.valid || isSubmitting" class="btn btn-submit">
                <span *ngIf="!isSubmitting">Submit Teams</span>
                <span *ngIf="isSubmitting">Submitting...</span>
            </button>
        </div>
    </form>


</div>