<app-header-nav [items]="[{ label: 'Dashboard' }]" ></app-header-nav>

<section class="p-6 min-h-screen mt-11">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
            <a routerLink="/events"
                class="bg-white text-black hover:text-white shadow-lg rounded-lg p-6 py-10 flex items-center justify-center cursor-pointer hover:bg-black transition-colors">
                <span class="font-semibold text-center">Cricket</span>
            </a>
        </div>
    </div>
</section>